<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (requestParamDict()) {
      <div>
        <h2 data-cy="requestParamDictDetailsHeading">
          <span jhiTranslate="requestApp.requestParamDict.detail.title">Request Param Dict</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ requestParamDict()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="requestApp.requestParamDict.code">Code</span></dt>
          <dd>
            <span>{{ requestParamDict()!.code }}</span>
          </dd>
          <dt><span jhiTranslate="requestApp.requestParamDict.name">Name</span></dt>
          <dd>
            <span>{{ requestParamDict()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="requestApp.requestParamDict.paramtype">Paramtype</span></dt>
          <dd>
            <span>{{ requestParamDict()!.paramtype }}</span>
          </dd>
          <dt><span jhiTranslate="requestApp.requestParamDict.valueArray">Value Array</span></dt>
          <dd>
            <span>{{ requestParamDict()!.valueArray }}</span>
          </dd>
          <dt><span jhiTranslate="requestApp.requestParamDict.referenceTo">Reference To</span></dt>
          <dd>
            <span>{{ requestParamDict()!.referenceTo }}</span>
          </dd>
          <dt><span jhiTranslate="requestApp.requestParamDict.createdAt">Created At</span></dt>
          <dd>
            <span>{{ requestParamDict()!.createdAt | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="requestApp.requestParamDict.createdBy">Created By</span></dt>
          <dd>
            <span>{{ requestParamDict()!.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="requestApp.requestParamDict.updatedAt">Updated At</span></dt>
          <dd>
            <span>{{ requestParamDict()!.updatedAt | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="requestApp.requestParamDict.updatedBy">Updated By</span></dt>
          <dd>
            <span>{{ requestParamDict()!.updatedBy }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/request-param-dict', requestParamDict()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
