<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (requestConfig()) {
      <div>
        <h2 data-cy="requestConfigDetailsHeading">
          <span jhiTranslate="changeRequestApp.requestConfig.detail.title">Request Config</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ requestConfig()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestConfig.version">Version</span></dt>
          <dd>
            <span>{{ requestConfig()!.version }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestConfig.effectiveDateStart">Effective Date Start</span></dt>
          <dd>
            <span>{{ requestConfig()!.effectiveDateStart | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestConfig.effectiveDateEnd">Effective Date End</span></dt>
          <dd>
            <span>{{ requestConfig()!.effectiveDateEnd | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestConfig.createdAt">Created At</span></dt>
          <dd>
            <span>{{ requestConfig()!.createdAt | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestConfig.createdBy">Created By</span></dt>
          <dd>
            <span>{{ requestConfig()!.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestConfig.updatedAt">Updated At</span></dt>
          <dd>
            <span>{{ requestConfig()!.updatedAt | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestConfig.updatedBy">Updated By</span></dt>
          <dd>
            <span>{{ requestConfig()!.updatedBy }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestConfig.requestType">Request Type</span></dt>
          <dd>
            @if (requestConfig()!.requestType) {
              <div>
                <a [routerLink]="['/request-type', requestConfig()!.requestType?.id, 'view']">{{ requestConfig()!.requestType?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/request-config', requestConfig()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
