<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (requestConfig()) {
      <div>
        <h2 data-cy="requestConfigDetailsHeading"><span jhiTranslate="testTentApp.requestConfig.detail.title">Request Config</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ requestConfig()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="testTentApp.requestConfig.requestType">Request Type</span></dt>
          <dd>
            <span>{{ requestConfig()!.requestType }}</span>
          </dd>
          <dt><span jhiTranslate="testTentApp.requestConfig.requestContentConfig">Request Content Config</span></dt>
          <dd>
            @if (requestConfig()!.requestContentConfig) {
              <div>
                <a [routerLink]="['/request-content-config', requestConfig()!.requestContentConfig?.id, 'view']">{{
                  requestConfig()!.requestContentConfig?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Назад</span>
        </button>

        <button type="button" [routerLink]="['/request-config', requestConfig()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Изменить</span>
        </button>
      </div>
    }
  </div>
</div>
