<div>
  <h2 id="page-heading" data-cy="RequestInfoHeading">
    <span jhiTranslate="requestApp.requestInfo.home.title">Request Infos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="requestApp.requestInfo.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-request-info"
        [routerLink]="['/request-info/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="requestApp.requestInfo.home.createLabel">Create a new Request Info</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (requestInfos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="requestApp.requestInfo.home.notFound">No Request Infos found</span>
    </div>
  }

  @if (requestInfos && requestInfos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contract">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestInfo.contract">Contract</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="requestDate">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestInfo.requestDate">Request Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codeAtSource">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestInfo.codeAtSource">Code At Source</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="effectiveDateStart">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestInfo.effectiveDateStart">Effective Date Start</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="effectiveDateEnd">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestInfo.effectiveDateEnd">Effective Date End</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestInfo.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestInfo.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestInfo.updatedAt">Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedBy">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestInfo.updatedBy">Updated By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="requestType.id">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestInfo.requestType">Request Type</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="requestSource.id">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestInfo.requestSource">Request Source</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (requestInfo of requestInfos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/request-info', requestInfo.id, 'view']">{{ requestInfo.id }}</a>
              </td>
              <td>{{ requestInfo.contract }}</td>
              <td>{{ requestInfo.requestDate | formatMediumDate }}</td>
              <td>{{ requestInfo.codeAtSource }}</td>
              <td>{{ requestInfo.effectiveDateStart | formatMediumDate }}</td>
              <td>{{ requestInfo.effectiveDateEnd | formatMediumDate }}</td>
              <td>{{ requestInfo.createdAt | formatMediumDate }}</td>
              <td>{{ requestInfo.createdBy }}</td>
              <td>{{ requestInfo.updatedAt | formatMediumDate }}</td>
              <td>{{ requestInfo.updatedBy }}</td>
              <td>
                @if (requestInfo.requestType) {
                  <div>
                    <a [routerLink]="['/request-type', requestInfo.requestType.id, 'view']">{{ requestInfo.requestType.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (requestInfo.requestSource) {
                  <div>
                    <a [routerLink]="['/source-system', requestInfo.requestSource.id, 'view']">{{ requestInfo.requestSource.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/request-info', requestInfo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/request-info', requestInfo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(requestInfo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
