<div>
  <h2 id="page-heading" data-cy="RequestConfigHeading">
    <span jhiTranslate="changeRequestApp.requestConfig.home.title">Request Configs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="changeRequestApp.requestConfig.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-request-config"
        [routerLink]="['/request-config/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="changeRequestApp.requestConfig.home.createLabel">Create a new Request Config</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (requestConfigs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="changeRequestApp.requestConfig.home.notFound">No Request Configs found</span>
    </div>
  }

  @if (requestConfigs && requestConfigs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="version">
              <div class="d-flex">
                <span jhiTranslate="changeRequestApp.requestConfig.version">Version</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="effectiveDateStart">
              <div class="d-flex">
                <span jhiTranslate="changeRequestApp.requestConfig.effectiveDateStart">Effective Date Start</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="effectiveDateEnd">
              <div class="d-flex">
                <span jhiTranslate="changeRequestApp.requestConfig.effectiveDateEnd">Effective Date End</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="changeRequestApp.requestConfig.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="changeRequestApp.requestConfig.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span jhiTranslate="changeRequestApp.requestConfig.updatedAt">Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedBy">
              <div class="d-flex">
                <span jhiTranslate="changeRequestApp.requestConfig.updatedBy">Updated By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="requestType.id">
              <div class="d-flex">
                <span jhiTranslate="changeRequestApp.requestConfig.requestType">Request Type</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (requestConfig of requestConfigs; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/request-config', requestConfig.id, 'view']">{{ requestConfig.id }}</a>
              </td>
              <td>{{ requestConfig.version }}</td>
              <td>{{ requestConfig.effectiveDateStart | formatMediumDate }}</td>
              <td>{{ requestConfig.effectiveDateEnd | formatMediumDate }}</td>
              <td>{{ requestConfig.createdAt | formatMediumDate }}</td>
              <td>{{ requestConfig.createdBy }}</td>
              <td>{{ requestConfig.updatedAt | formatMediumDate }}</td>
              <td>{{ requestConfig.updatedBy }}</td>
              <td>
                @if (requestConfig.requestType) {
                  <div>
                    <a [routerLink]="['/request-type', requestConfig.requestType.id, 'view']">{{ requestConfig.requestType.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/request-config', requestConfig.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/request-config', requestConfig.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(requestConfig)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
