<div>
  <h2 id="page-heading" data-cy="RequestParamDictHeading">
    <span jhiTranslate="requestApp.requestParamDict.home.title">Request Param Dicts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="requestApp.requestParamDict.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-request-param-dict"
        [routerLink]="['/request-param-dict/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="requestApp.requestParamDict.home.createLabel">Create a new Request Param Dict</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (requestParamDicts?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="requestApp.requestParamDict.home.notFound">No Request Param Dicts found</span>
    </div>
  }

  @if (requestParamDicts && requestParamDicts.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestParamDict.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestParamDict.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paramtype">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestParamDict.paramtype">Paramtype</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valueArray">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestParamDict.valueArray">Value Array</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="referenceTo">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestParamDict.referenceTo">Reference To</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestParamDict.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestParamDict.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestParamDict.updatedAt">Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedBy">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestParamDict.updatedBy">Updated By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (requestParamDict of requestParamDicts; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/request-param-dict', requestParamDict.id, 'view']">{{ requestParamDict.id }}</a>
              </td>
              <td>{{ requestParamDict.code }}</td>
              <td>{{ requestParamDict.name }}</td>
              <td>{{ requestParamDict.paramtype }}</td>
              <td>{{ requestParamDict.valueArray }}</td>
              <td>{{ requestParamDict.referenceTo }}</td>
              <td>{{ requestParamDict.createdAt | formatMediumDate }}</td>
              <td>{{ requestParamDict.createdBy }}</td>
              <td>{{ requestParamDict.updatedAt | formatMediumDate }}</td>
              <td>{{ requestParamDict.updatedBy }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/request-param-dict', requestParamDict.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/request-param-dict', requestParamDict.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(requestParamDict)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
