<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (requestType()) {
      <div>
        <h2 data-cy="requestTypeDetailsHeading"><span jhiTranslate="changeRequestApp.requestType.detail.title">Request Type</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ requestType()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestType.code">Code</span></dt>
          <dd>
            <span>{{ requestType()!.code }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestType.name">Name</span></dt>
          <dd>
            <span>{{ requestType()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestType.createdAt">Created At</span></dt>
          <dd>
            <span>{{ requestType()!.createdAt | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestType.createdBy">Created By</span></dt>
          <dd>
            <span>{{ requestType()!.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestType.updatedAt">Updated At</span></dt>
          <dd>
            <span>{{ requestType()!.updatedAt | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="changeRequestApp.requestType.updatedBy">Updated By</span></dt>
          <dd>
            <span>{{ requestType()!.updatedBy }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/request-type', requestType()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
