<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-request-info-heading"
        data-cy="RequestInfoCreateUpdateHeading"
        jhiTranslate="changeRequestApp.requestInfo.home.createOrEditLabel"
      >
        Create or edit a Request Info
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="changeRequestApp.requestInfo.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_contract" jhiTranslate="changeRequestApp.requestInfo.contract">Contract</label>
          <input type="number" class="form-control" name="contract" id="field_contract" data-cy="contract" formControlName="contract" />
          @if (editForm.get('contract')!.invalid && (editForm.get('contract')!.dirty || editForm.get('contract')!.touched)) {
            <div>
              @if (editForm.get('contract')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('contract')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_requestDate" jhiTranslate="changeRequestApp.requestInfo.requestDate">Request Date</label>
          <div class="input-group">
            <input
              id="field_requestDate"
              data-cy="requestDate"
              type="text"
              class="form-control"
              name="requestDate"
              ngbDatepicker
              #requestDateDp="ngbDatepicker"
              formControlName="requestDate"
            />
            <button type="button" class="btn btn-secondary" (click)="requestDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          @if (editForm.get('requestDate')!.invalid && (editForm.get('requestDate')!.dirty || editForm.get('requestDate')!.touched)) {
            <div>
              @if (editForm.get('requestDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_codeAtSource" jhiTranslate="changeRequestApp.requestInfo.codeAtSource">Code At Source</label>
          <input
            type="text"
            class="form-control"
            name="codeAtSource"
            id="field_codeAtSource"
            data-cy="codeAtSource"
            formControlName="codeAtSource"
          />
          @if (editForm.get('codeAtSource')!.invalid && (editForm.get('codeAtSource')!.dirty || editForm.get('codeAtSource')!.touched)) {
            <div>
              @if (editForm.get('codeAtSource')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('codeAtSource')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '40' }"
                  >This field cannot be longer than 40 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_effectiveDateStart" jhiTranslate="changeRequestApp.requestInfo.effectiveDateStart"
            >Effective Date Start</label
          >
          <div class="input-group">
            <input
              id="field_effectiveDateStart"
              data-cy="effectiveDateStart"
              type="text"
              class="form-control"
              name="effectiveDateStart"
              ngbDatepicker
              #effectiveDateStartDp="ngbDatepicker"
              formControlName="effectiveDateStart"
            />
            <button type="button" class="btn btn-secondary" (click)="effectiveDateStartDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_effectiveDateEnd" jhiTranslate="changeRequestApp.requestInfo.effectiveDateEnd"
            >Effective Date End</label
          >
          <div class="input-group">
            <input
              id="field_effectiveDateEnd"
              data-cy="effectiveDateEnd"
              type="text"
              class="form-control"
              name="effectiveDateEnd"
              ngbDatepicker
              #effectiveDateEndDp="ngbDatepicker"
              formControlName="effectiveDateEnd"
            />
            <button type="button" class="btn btn-secondary" (click)="effectiveDateEndDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="changeRequestApp.requestInfo.createdAt">Created At</label>
          <div class="input-group">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="text"
              class="form-control"
              name="createdAt"
              ngbDatepicker
              #createdAtDp="ngbDatepicker"
              formControlName="createdAt"
            />
            <button type="button" class="btn btn-secondary" (click)="createdAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="changeRequestApp.requestInfo.createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_updatedAt" jhiTranslate="changeRequestApp.requestInfo.updatedAt">Updated At</label>
          <div class="input-group">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="text"
              class="form-control"
              name="updatedAt"
              ngbDatepicker
              #updatedAtDp="ngbDatepicker"
              formControlName="updatedAt"
            />
            <button type="button" class="btn btn-secondary" (click)="updatedAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_updatedBy" jhiTranslate="changeRequestApp.requestInfo.updatedBy">Updated By</label>
          <input type="text" class="form-control" name="updatedBy" id="field_updatedBy" data-cy="updatedBy" formControlName="updatedBy" />
          @if (editForm.get('updatedBy')!.invalid && (editForm.get('updatedBy')!.dirty || editForm.get('updatedBy')!.touched)) {
            <div>
              @if (editForm.get('updatedBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_requestType" jhiTranslate="changeRequestApp.requestInfo.requestType">Request Type</label>
          <select
            class="form-control"
            id="field_requestType"
            data-cy="requestType"
            name="requestType"
            formControlName="requestType"
            [compareWith]="compareRequestType"
          >
            <option [ngValue]="null"></option>
            @for (requestTypeOption of requestTypesSharedCollection; track $index) {
              <option [ngValue]="requestTypeOption">{{ requestTypeOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_requestSource" jhiTranslate="changeRequestApp.requestInfo.requestSource"
            >Request Source</label
          >
          <select
            class="form-control"
            id="field_requestSource"
            data-cy="requestSource"
            name="requestSource"
            formControlName="requestSource"
            [compareWith]="compareSourceSystem"
          >
            <option [ngValue]="null"></option>
            @for (sourceSystemOption of sourceSystemsSharedCollection; track $index) {
              <option [ngValue]="sourceSystemOption">{{ sourceSystemOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
