<div>
  <h2 id="page-heading" data-cy="RequestContentHeading">
    <span jhiTranslate="requestApp.requestContent.home.title">Request Contents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="requestApp.requestContent.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-request-content"
        [routerLink]="['/request-content/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="requestApp.requestContent.home.createLabel">Create a new Request Content</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (requestContents?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="requestApp.requestContent.home.notFound">No Request Contents found</span>
    </div>
  }

  @if (requestContents && requestContents.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paramCode">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestContent.paramCode">Param Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paramValue">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestContent.paramValue">Param Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestContent.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestContent.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestContent.updatedAt">Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedBy">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestContent.updatedBy">Updated By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="requestInfoId.id">
              <div class="d-flex">
                <span jhiTranslate="requestApp.requestContent.requestInfoId">Request Info Id</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (requestContent of requestContents; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/request-content', requestContent.id, 'view']">{{ requestContent.id }}</a>
              </td>
              <td>{{ requestContent.paramCode }}</td>
              <td>{{ requestContent.paramValue }}</td>
              <td>{{ requestContent.createdAt | formatMediumDate }}</td>
              <td>{{ requestContent.createdBy }}</td>
              <td>{{ requestContent.updatedAt | formatMediumDate }}</td>
              <td>{{ requestContent.updatedBy }}</td>
              <td>
                @if (requestContent.requestInfoId) {
                  <div>
                    <a [routerLink]="['/request-info', requestContent.requestInfoId.id, 'view']">{{ requestContent.requestInfoId.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/request-content', requestContent.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/request-content', requestContent.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(requestContent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
