<div>
  <h2 id="page-heading" data-cy="DataFieldHeading">
    <span jhiTranslate="dfmApp.dataField.home.title">Data Fields</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dfmApp.dataField.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-data-field"
        [routerLink]="['/data-field/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dfmApp.dataField.home.createLabel"> Create a new Data Field </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dataFields?.length === 0">
    <span jhiTranslate="dfmApp.dataField.home.notFound">No Data Fields found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="dataFields && dataFields.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="inputType">
            <div class="d-flex">
              <span jhiTranslate="dfmApp.dataField.inputType">Input Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fieldType">
            <div class="d-flex">
              <span jhiTranslate="dfmApp.dataField.fieldType">Field Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sequence">
            <div class="d-flex">
              <span jhiTranslate="dfmApp.dataField.sequence">Sequence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isBrief">
            <div class="d-flex">
              <span jhiTranslate="dfmApp.dataField.isBrief">Is Brief</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="briefSequence">
            <div class="d-flex">
              <span jhiTranslate="dfmApp.dataField.briefSequence">Brief Sequence</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="allowNull">
            <div class="d-flex">
              <span jhiTranslate="dfmApp.dataField.allowNull">Allow Null</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="dfmApp.dataField.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="caption">
            <div class="d-flex">
              <span jhiTranslate="dfmApp.dataField.caption">Caption</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="documentation">
            <div class="d-flex">
              <span jhiTranslate="dfmApp.dataField.documentation">Documentation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tabName">
            <div class="d-flex">
              <span jhiTranslate="dfmApp.dataField.tabName">Tab Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="groupName">
            <div class="d-flex">
              <span jhiTranslate="dfmApp.dataField.groupName">Group Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="generationStyle">
            <div class="d-flex">
              <span jhiTranslate="dfmApp.dataField.generationStyle">Generation Style</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="refToRoot.id">
            <div class="d-flex">
              <span jhiTranslate="dfmApp.dataField.refToRoot">Ref To Root</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataField of dataFields; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/data-field', dataField.id, 'view']">{{ dataField.id }}</a>
          </td>
          <td jhiTranslate="{{ 'dfmApp.InputTypeEnum.' + dataField.inputType }}">{{ dataField.inputType }}</td>
          <td jhiTranslate="{{ 'dfmApp.FieldTypeEnum.' + dataField.fieldType }}">{{ dataField.fieldType }}</td>
          <td>{{ dataField.sequence }}</td>
          <td>{{ dataField.isBrief }}</td>
          <td>{{ dataField.briefSequence }}</td>
          <td>{{ dataField.allowNull }}</td>
          <td>{{ dataField.name }}</td>
          <td>{{ dataField.caption }}</td>
          <td>{{ dataField.documentation }}</td>
          <td>{{ dataField.tabName }}</td>
          <td>{{ dataField.groupName }}</td>
          <td>{{ dataField.generationStyle }}</td>
          <td>
            <div *ngIf="dataField.refToRoot">
              <a [routerLink]="['/data-tree-root', dataField.refToRoot.id, 'view']">{{ dataField.refToRoot.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/data-field', dataField.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/data-field', dataField.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dataField)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
